.savosko__link {
  left: 0;
  @include font(300, 20px, 24px, #A9A5A5);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  transition: .5s;
  opacity: .4;
  cursor: none;

  @include media(1279px) {
    font-size: 18px;
  }

  @include media(1023px) {
    font-size: 20px;
  }

  @include media(767px) {
    font-size: 16px;
  }
}