.savosko__container {
  max-width: 450px;
  width: 100%;
  transform-style: preserve-3d;

  &:last-of-type {
    display: none;
  }

  @include media(1279px) {
    max-width: 320px;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
