.savosko__button {
  border: 0;
  margin-top: 40px;
  max-width: 150px;
  width: 100%;
  min-height: 40px;
  border-radius: 10px;
  background: linear-gradient(92.41deg, #603E3E -38.39%, #2B1C1C 122.97%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  @include font(300, 14px, 20px, #a9a5a5);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-family: Montserrat,Arial,sans-serif;
  cursor: none;
  opacity: .7;
  position: relative;
  transition: all 0.2s linear 0s;
  &:before {
    content: "";
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.92 37.04'%3E%3Cg%3E%3Cpath fill='%239b9998' d='M65,16.86,40.61.32a2,2,0,0,0-3,1.65V15.53a1,1,0,0,1-1,1H2a2,2,0,0,0,0,4H38.51a3,3,0,0,0,3-3V7.59a1,1,0,0,1,1-1,1,1,0,0,1,.55.17L59.16,17.7A1,1,0,0,1,59.44,19a.75.75,0,0,1-.28.28L43,30.25A1,1,0,0,1,41.66,30a1,1,0,0,1-.17-.55V26.65a2,2,0,0,0-4,0v8.4a2,2,0,0,0,1,1.75,1.92,1.92,0,0,0,.93.24,2,2,0,0,0,1.11-.34L65,20.16a2,2,0,0,0,0-3.3Z'/%3E%3C/g%3E%3C/svg%3E");
    height: 11px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 15px;
    opacity: 0;
    background-size: cover;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;
    opacity: 1;

    &:before {
      opacity: 1;
      text-indent: 0;
    }
  }
}