.popup__title {
  @include fontTitle(400, 26px, 44px, 1px, #745252);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(25deg, rgba(79, 55, 55, 1) 0%, rgba(136, 97, 97, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 20px 0;
  padding: 0;
  @include media(330px) {
    @include fontTitle(400, 22px, 40px, 1px, #745252);
    margin: 0 0 10px 0;
  }
}