.lang__link_active {
  color: #9E6262;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    background: rgba(158, 98, 98, 1);
    height: 1px;
    width: 15px;
    transition: width .5s, color .5s,background-color .5s linear;;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }
}