.lang__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  @include font(300, 16px, 20px, #898181);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: .5s;
  position: relative;
  cursor: none;

  @include media(779px) {
    color: #885E5E;
    &:hover:after {
      background: #885E5E;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    background: rgba(158, 98, 98, 0);
    height: 1px;
    width: 0;
    transition: width .5s, color .5s, background-color .5s linear;;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
  }

  &:hover {
    color: rgba(158, 98, 98, 1);
  }

  &:hover:after {
    width: 70%;
    background: rgba(158, 98, 98, 1);
  }
}