.savosko__menu {
  position: relative;
  max-width: 30px;
  width: 100%;
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translateZ(40px);
}