.header {
  width: 90%;
  min-height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media(779px) {
    width: 100%;
    min-height: 50px;
  }
}