.savosko__description {
  margin: 0;
  padding: 0 0 20px 0;
  @include font (300, 16px, 28px, #A9A5A5);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  transform: translateZ(-40px);
  opacity: .2;
  min-height: 115px;
  @include media(1400px) {
    @include font (300, 16px, 28px, #A9A5A5);
    min-height: 112px;
  }
  @include media(1279px) {
    @include font (300, 14px, 23px, #A9A5A5);
    min-height: 115px;
  }
}