.popup {
  width: 100%;
  display: none;
  height: 100%;
  background: rgb(10, 10, 10);
  background: linear-gradient(58deg, rgba(10, 10, 10, 1) 0%, rgba(57, 38, 38, 1) 100%) no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 0;
  z-index: 99999999;
  box-sizing: border-box;
  @include media(781px) {
    display: grid;
  }
  @include media(330px) {
    padding: 20px;
  }
}