.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(58deg, rgba(10, 10, 10, 1) 0%, rgba(57, 38, 38, 1) 100%) no-repeat;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}